/* add your styles here */
.App {
    text-align: center;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-container img {
    width: 45%; /* Adjust the width as needed */
    margin: 5px;
  }
  
  @media (max-width: 768px) {
    .image-container img {
      width: 90%; /* Adjust the width for smaller screens */
    }
  }
  